<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title th:text="#{view.index.title}">Управление взысканиями</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="short icon" href="resources/images/favicon.png"/>
    <link rel="stylesheet" href="resources/css/login.css"/>
    <link rel="stylesheet" href="resources/css/distinctive.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
</head>

<body>
   <div th:replace="fragments/header :: header">&nbsp;</div>
   <div sec:authorize="isAuthenticated()">
       Logged user: <span sec:authentication="name">Bob</span> |
       Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
   </div>


</body>
</html>