html,body{
    padding-top: 25px;
    with:100%;
    margin:0;
    height:100%;
    font-size: 12px;
    overflow:hidden;

}
body{
    background-image: url("../images/texture.png");
}


@media (min-width: 768px) {
    .navbar-form .form-control {
        min-width: 250px;
    }
}
#login-nav input { margin-bottom: 25px; }
#login {
    width: 80%;
    min-width: 280px;
    max-width: 400px;
    margin: 10% auto 30px;
}

